<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notes</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Notes</h1>
  <h3>Free Private Notes for Everybody!</h3>
  <h4>Your code is: <code>{{code}}</code></h4>
  <h5>REMEMBER THAT! Otherwise you can't access your notes.</h5>
  <form method="post" action="{{prefix}}{{code}}">
    <textarea id="main" name="data" onkeyup="update()">{{notes}}</textarea>
    <noscript><input type="submit" value="update" /></noscript>
  </form>
  <script src="/js/socket.io-client/dist/socket.io.js"></script>
  <script>
  var socket = io();
  var dataPreTimeout = null;
  var timeSinceLastCalled = 0;
  
  function update() {
    setTimeout(function emitterAfterTimeout() {
      if(timeSinceLastCalled + 1999 < Date.now()) {
        if(dataPreTimeout === document.getElementById("main").value) {
          dataPreTimeout = null;
          socket.emit("update", {uuid: "{{code}}", notes:document.getElementById("main").value});
        } else {
          dataPreTimeout = null;
        }
      }
    }, 2000);
    dataPreTimeout = document.getElementById("main").value;
    timeSinceLastCalled = Date.now();
  }
  </script>
</body>
</html>
